doctype html
html(lang="en")
    head
        title="Interna"
        link(rel="stylesheet" href="css/index.css")

    body
        h1 #{page}
        img(src="images/" + page + ".jpg")

        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos nesciunt quod assumenda odit dolor perspiciatis, nulla esse fuga incidunt adipisci saepe cupiditate autem corporis nobis unde repellat, placeat voluptate veniam!